@import '_reset.scss';
@import '../../node_modules/bulma/bulma.sass';

$var: white;

$left-col-width: 28%;

body {
  background-color: $var;
}

@media screen and (min-width: 1408px) {
  .container{
    max-width: 1200px;
  }

  section.Recipe {
    max-width: none;
    float: none;
  }

  section.Ingredients {
    margin-right: 2rem;
  }
}

@media screen and (min-device-width : 481px) and (max-width: 768px) {
	.container {
	    max-width: 640px;
	}
}

p {
	display:none;
}

h1 {
	font-family: 'Lato', sans-serif;
}

h2 {
    font-family: Lato,sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

h2:first-of-type {
    margin-top:0;
}

div.back {
	width: fit-content;
    float: left;
	margin-top: 1.5rem;
	position: absolute;
    left: 0;
    top: -0.2rem;
}

div.builtWith {
    margin-top: 3rem;
    margin-bottom: 2rem;

    p {
    	display:block;
    	font-style: italic;
    }
}

h1.indexTitle {
	text-transform: uppercase;
    font-weight: 800;
    font-size: 2rem;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
}

h1.recipeTitle {
	text-align: center;
	font-size: 1.5rem;
	padding-bottom:2.5rem;
	padding-top:3rem;
}

h2.sectionHeading {
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 0.6rem;
}

ul.sectionList {
	margin-bottom: 1rem;
}

section.Ingredients {
    width: 28%;
    float: left;
    margin-bottom: 2rem;
    margin-right: 2rem;

	h1 {
		display:none;
	}

	li {
	    font-family: Lato,sans-serif;
	    font-size: 0.9rem;
		margin-bottom: .2rem;
	    padding-left: 1.5rem;
	    text-indent: -1.5rem;
	}
}

section.Recipe {
    max-width: 65%;
    float: right;
    font-size: 1rem;
	margin-bottom: 2rem;

	h1 {
		display:none;
	}

	ol {
		list-style:none;
		counter-reset: recipe-counter;
	}

	ol li::before {
	  content: counter(recipe-counter);
	  padding-right: .5rem;
	  font-family: Lato,sans-serif;
	  font-size: 1rem;
	}

	ol li {
		counter-increment: recipe-counter;
		margin-bottom: 0.6rem;
		font-family: 'Merriweather', serif;
	}
}

section.Notes {
    float: unset;
    width: 28%;

	h1 {
		text-transform: uppercase;
    	font-weight: 800;
	    font-size: 1rem;
		padding-bottom:1.5rem;
		padding-top:1rem;
	}

	li {
		font-size:0.9rem;
		margin-bottom: 0.5rem;
	}
}

@media screen and (min-device-width : 300px) and (max-device-width : 480px) {
	.container {
	    max-width: 310px;
		font-size: 0.9rem;
	}

	h1.recipeTitle {
		text-align: left;
	}

	div.back {
		left: -1.5rem;
	}

	.sectionList {
		li {
			margin-bottom: 0.2rem;
		}
	}

	section.Ingredients {
		float: none;
		width: auto;
	}

	section.Recipe {
		float: none;
		max-width: inherit;
	    font-size: 0.9rem;

	    ol li:before {
		    padding-right: .4rem;
		    font-size: 0.9rem;
	    }
	}

	section.Notes {
		width: auto;
		margin-bottom: 2rem;

		h1 {
		    padding-bottom: 1rem;
		}
	}
}
