<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <script>
    document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + 'has-js ';
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ renderData.description or description or metadata.description }}">
  <title>{{ renderData.title or title or metadata.title }}</title>
  <link rel="stylesheet" href="{{ '/' | url }}styles/index.css">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Merriweather&display=swap" rel="stylesheet">
</head>
<body id="top" itemscope itemtype="http://schema.org/WebPage">
  <div class="container">
    <div class="back">
      <a href="{{ '/' | url }}">back</a>
    </div>
    <h1 class="recipeTitle">{{ title }}</h1>
    {{ content | safe }}
  </div>
  <script src="/scripts/index.js"></script>
</body>
</html>
