---
layout: layouts/base.njk
title: Recipes
data: collections.recipe
---
<h1 class="indexTitle">Recipes</h1>
{% for tag in collections.tagList %}
  <h2 class="sectionHeading">{{ tag | makeUppercase }}</h2>
  <ul class="sectionList">
  {%- for recipe in collections[tag] -%}
	  <li><a href="{{ recipe.url | url }}">{{ recipe.data.title }}</a></li>
  {%- endfor -%}
  </ul>
{%- endfor -%}
</ul>
